{% extends 'base.html.twig' %}

{% block body %}
  <h1>Справочник банков</h1>
  <p>Пользовательские поля добавлены в карточки контакта, лида, компании и сделки.</p>
  <p>Чтобы их включить нужно в карточке нажать «Выбрать поле»:</p>
  <img src="/1.png" style="max-width: 600px">
  <p>И выбрать поле «Банк»:</p>
  <img src="/2.png" style="max-width: 600px">
{% endblock %}
