{% extends 'base.html.twig' %}

{% block stylesheets %}
  <style>
    body {
      color: #333;
      font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
      font-size: 14px;
    }
  </style>
{% endblock %}

{% block body %}
  <h1>Справочник банков</h1>
  <p>Пользовательские поля добавлены в карточки контакта, лида, компании и сделки.</p>
  <p>Чтобы их включить нужно в карточке нажать «Выбрать поле»:</p>
  <img src="/1.png" style="max-width: 600px">
  <p>И выбрать поле «Банк»:</p>
  <img src="/2.png" style="max-width: 600px">
{% endblock %}
