name: Check

on: [push, pull_request]

jobs:
  check:
    runs-on: ubuntu-24.04
    steps:
    - uses: actions/checkout@v4

    - name: Setup PHP
      uses: shivammathur/setup-php@v2
      with:
        php-version: 8.3

    - uses: ramsey/composer-install@v3

    - name: Validate composer.json and composer.lock
      run: composer validate --no-check-publish

    - name: Check if composer.json is normalized
      run: composer normalize --dry-run

    - name: Check coding standards
      run: composer cs:check

    - name: Check rector rules
      run: composer rector:check

    - name: Run code analysis
      run: composer phpstan
